
@{
    ViewBag.Title = "CustomerDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // lấy dữ liệu truyền qua đối tượng theo cách 2
    var customer = Model as lab4.Models.Customer;


}

<h2>Chi tiết khách hàng lấy theo cách 1</h2>
@*<p>Mã số: @Model.CustomerID</p>
<p>Họ và tên: @Model.FullName</p>
<p>Địa chỉ: @Model.Address</p>
<p>Điện thoại: @Model.Phone</p>
<p>Email: @Model.Email</p>
<p>Số tiền dư: @Model.Balance</p>*@

<p>Mã số: @customer.CustomerID</p>
<p>Họ và tên: @customer.FullName</p>
<p>Địa chỉ: @customer.Address</p>
<p>Điện thoại: @customer.Phone</p>
<p>Email: @customer.Email</p>
<p>Số tiền dư: @customer.Balance</p>

@*
//    Chi tiết khách hàng lấy qua ViewBag
//    Mã số: @ViewBag.customer.CustomerId
//    Họ và tên: @ViewBag.customer.FullName
//    Địa chỉ: @ViewBag.customer.Address
//    Điện thoại: @ViewBag.customer.Phone
//    Email: @ViewBag.customer.Email
//    Số tiền dư: @ViewBag.customer.Balance
//*@