
@{
    ViewBag.Title = "Bai4_ResultRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bai4_ResultRegister</h2>


<table class="table table-bordered">
    <tr>

        <td>UserName: </td>
        <td>@TempData["TenDVT"]</td>
    </tr>
    <tr>
        <td>Password: </td>
        <td>@TempData["LHDN"]</td>
    </tr>
    <tr>
        <td>Full Name: </td>
        <td>@TempData["SLNV"]</td>
    </tr>
    <tr>
        <td>Gender: </td>
        <td>@TempData["DC"]</td>
    </tr>
    <tr>
        <td>Address: </td>
        <td>@TempData["NLH"]</td>
    </tr>
    <tr>
        <td>Email: </td>
        <td>@TempData["SDT"]</td>
    </tr>
    <tr>
        <td>Country: </td>
        <td>@TempData["SF"]</td>
    </tr>
    <tr>
        <td>Favourist: </td>
        <td>@TempData["Email"]</td>
    </tr>
    <tr>
        <td>Favourist: </td>
        <td>@TempData["DCW"]</td>
    </tr>
    <tr>
        <td>Favourist: </td>
        <td>@TempData["TDN"]</td>
    </tr>
    <tr>
        <td>Favourist: </td>
        <td>@TempData["MK"]</td>
    </tr>
    <tr>
        <td>Favourist: </td>
        <td>@TempData["XNMK"]</td>
    </tr>
    <tr>
        <td>Favourist: </td>
        <td>@TempData["XNTDT"]</td>
    </tr>
</table>